@media only screen and (min-device-width: 640px)
{
  form
  {
    margin: 0 0 1em 0;
    padding: 0;
    width: 75%;
    border-bottom: 1px solid #00314c;
  }
  
  fieldset
  {
    margin: 0 0 0.2em 0;
    padding: 0;
    border: 0;
    clear: both;
    padding-bottom: 1em;
    border-bottom: 1px dashed #00314c;
  }

  fieldset:last-of-type
  {
    border-bottom: 1px solid #00314c;
  }
 
  legend
  {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #00314c;
    text-transform: capitalize;
  }

  fieldset > div
  {
    margin: 0 0 0 2%;
    padding: 0;
    float: left;
    width: 46%;
  }

  fieldset > div > img{
    margin: 0 0 0.3em 0;
    padding: 0;
    width: 30%;
    height: 100px;
    border-radius: 5px;
    border: 1px dashed orangered;
  }

  #takeP{
    border: 1px dashed red;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .display{
    visibility: hidden;
  }

  fieldset > div > input, fieldset > div > label, fieldset > div > select, fieldset > div > textarea, form > div > div > input, form > div > div > textarea, form > div > div > div:first-of-type > input, form > div > div > div:nth-of-type(3) > input
  {
    display: block;
    width: 100%;
    margin: 0 0 0.3em 0;
    padding: 0.2em 0 0.2em 1%;
    background: transparent;
    border-radius: 5px;
    border: 1px dashed #00314c;
    font-family: 'Roboto Condensed', sans-serif;

  }

  fieldset > div > input[type="number"]{
    display: inline-block;
    width: 31.2%;
  }

  fieldset > div > input[type="number"]:nth-of-type(2), fieldset > div > input[type="number"]:last-of-type{
    margin: 0;
    padding: 0;
  }

  fieldset > div > span{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
  }

  fieldset > div > label
  {
    background: transparent;
    margin-bottom: 0.1em;
    text-transform: capitalize;
    border: 0;
    padding: 0;
  }

  fieldset > div > select option{
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .submit, #remove
  {
    font-size: 1.2em;
    background: #00314c;
    border: 0;
    border-radius: 2px;
    width: 46%;
    margin: 0.2em 0 0.5em 1.8%;
    padding: 0.2em 0;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
  }

  .submitt 
  {
    display: block;
    width: 30%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 0 0 65%;
    color: white;
    padding: 0.2em 0;
    font-size: 1.2em;
    border-radius: 3px;
    background: #00314c;
    clear: both;
    cursor: pointer;
  }

  #remove{
    font-size: 1.3em;
    display: inline-block;
    text-align: center;
    width: 46%;  
  }

  button.submit{
    font-size: 0.9em;
  }

  .empBanking
  {
    height: 128px;
  }

  .empPhysical
  {
    height: 113px;
  }
  
  #patBankging
  {
    height: 104px;
  }

  .check
  {
    display: inline-block;
    width: auto;
    color: black;
  }

  .procDesc
  {
    height: 72px;
  }

  .prodDesc
  {
    height: 121px;
  }

  .addSuppAddress
  {
    height: 74px;
  }

  .reason
  {
    height: 72px;
  }

  #orderProdSubmit
  {
    margin: 0.6em 0 0 0;
  }

  form > ul > li > a
  {
    margin: 0;
    padding: 0.3em 0.4em;
    font-size: 1.3em;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
  }

  form > div{
    margin: 0;
    padding: 0;
  }

  form > div > ul, form > div > ul > li, form > div > div, form > div > div > label{
    margin: 0;
    padding: 0;
  }

  form > div > ul > li{
    background: #00314c;
    list-style: none;
    float: left;
  }

  form > div > ul > li > a{
    margin: 0;
    padding: 0.3em 0.5em;
    display: block;
    color: white;
    text-decoration: none;
  }

  form > div > div{
    border-top: 1px solid #00314c;
    padding: 1em;
    min-height: 57.2%;
  }

  form > div > div > label{
    display: block;
  }

  /*form > div > div > label:first-of-type{

  }*/

  form > div > div > textarea, form > div > div > input[type="file"]{
    width: 98%;
    margin: 0.5em 0 1em 0;
  }

  form > div > div > textarea{
    height: 30%;
  }

  form > div > div > div{
    float: left;
    width: 78%;
    margin: 0;
    padding: 0.5%;
  }

  form > div > div > div:first-of-type, form > div > div > div:nth-of-type(3){
    width: 18%;
    clear: left;
  }

  form > div > div > legend{
    display: block;
    clear: left;
  }

  form > div > div > div:last-of-type{
    margin-bottom: 1em;
  }

  #activateWebcam{
    position: fixed;
    top: 15%;
    left: 41%;
    width: 15%;
    height: 10%;

  }

  #snap {
    position: fixed;
    top: 87%;
    left: 42%;
    width: 15%;
    height: 10%;
  }

   #canvas{
    position: fixed;
    top: 20%;
    left: 31%;
    height: 68%;
    width: 35%;
  }
  #video{
    position: fixed;
    top: 30%;
    left: 32%;
    height: 54%;
    width: 35%;
  }

  #calendar{
    width: 96%;
    margin: 0 0 0 2%;
    padding: 0;
  }

  #calendar > h2{}

  #calendar > ul{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #calendar > ul > li{
    width: 12%;
    float: left;
    margin: 0;
    padding: 0;
    border: 1px dashed #00314c;
    list-style: none;
    text-transform: capitalize; 
  }

  #calendar > ul > li > p{
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #month_p, #month_n, #week_p, #week_n{
  position: fixed;
  top: 50%;
  height: 10%;
  width: 5%;
  cursor: pointer;
}

#week_p{
  left: 0;
  background: url('../img/ico/back.png') no-repeat;
  background-size: contain;
}

#week_n{
  right: 0;
  background: url('../img/ico/forward.png') no-repeat;
  background-size: contain;
}

  #proceed{
  z-index:99999999999999;
  position:fixed;
  width: 25%;
  border-radius: 3px;
  background: #00314c;
  top: 50%;
  left: 37.5%;
  margin: 0;
  padding: 1em 0.3;
  box-shadow: 2px 1px 0 gray;
  }

  #proceed > p{
    color: white;
    display: block;
    text-align: center;
    margin: 0 0 1em 0;
    padding: 0;
  }

  #proceed > a{
    display: inline-block;
    width: 30%;
    color: #00314c;
    background: white;
    border-radius: 3px;
    margin: 0 0 0 12.5%;
    padding: 0;
    text-align: center;
    text-decoration: none;
  }

  .red{
    cursor: not-allowed;
    display: block;
    text-align: center;
    background: red;
  }

  /*.blue{
    cursor: default;
    background: #00314c;
    color: white;
  }*/

  .gray{
    cursor: not-allowed;
    display: block;
    text-align: center;
    background: dimgray;
  }

  .av{
    cursor: pointer;
    display: block;
    text-align: center;
  }

}