@media only screen and (min-device-width: 980px)
{
  form
  {
    margin: 0 0 1em 0;
    padding: 0;
    width: 75%;
    border-bottom: 1px solid #00314c;
  }
  
  fieldset
  {
    margin: 0 0 0.4em 0;
    padding: 0;
    border: 0;
    clear: both;
    padding-bottom: 1em;
    border-bottom: 1px dashed #00314c;
  }

  fieldset:last-of-type
  {
    border-bottom: 1px solid #00314c;
  }
 
  legend
  {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #00314c;
    text-transform: capitalize;
  }

  fieldset > div
  {
    margin: 0 0 0 2%;
    padding: 0;
    float: left;
    width: 46%;
  }

  fieldset > div > input, fieldset > div > label, fieldset > div > select, fieldset > div > textarea
  {
    display: block;
    width: 100%;
    margin: 0 0 0.3em 0;
    padding: 0.1em 0.2em;
    background: #ededed;
    border-radius: 5px;

  }

  fieldset > div > label
  {
    background: transparent;
    margin-bottom: 0.1em;
    text-transform: capitalize;
  }

  .submit
  {
    font-size: 1.2em;
    background: #00314c;
    border: 0;
    border-radius: 2px;
    width: 46%;
    margin: 0.2em 0 0 1.8%;
    padding: 0.2em 0;
    color: white;
    text-transform: capitalize;
  }

  .empBanking
  {
    height: 128px;
  }

  .empPhysical
  {
    height: 104px;
  }
  
}