@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';

@media only screen and (min-device-width: 640px)
{
  .clear
  {
    clear: both;
  }
  
  body
  {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
  }

  header{
    margin: 0;
    padding: 0;
    height: 15%;
    top: 0;
    background: url('../img/logo.png') no-repeat bottom center;
    text-align: center;
    position: fixed;
    left: 0;
    width: 100%;
  }

  /*.logo
  {
    width: 100%;
    height: 90px;
    padding-top: 12px;
    background: transparent;
  }
  */
.translate
  {
    position: fixed;
    bottom: 85%;
    left: 15%;
    text-transform: uppercase;
    font-size: 1.1vw;
    padding: 0;
    color: red;
    top: 0;
  }

  .logout
  {
    position: fixed;
    bottom: 85%;
    right: 15%;
    text-transform: uppercase;
    font-size: 1.1vw;
    padding: 0;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #00314c;
  }

  .logout a{
    display: block;
    padding: 0.2em 0.5em;
    color: white;
    text-decoration: none;
  }
  
  #nav
  {
    background: #00314c;
    margin: 0;
    padding: 0 0 0 15%;
    position: fixed;
    top: 15%;
    left: 0;
    width: 85%;
    z-index: 9999999;
  }
  
  #nav > li
  {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    cursor: pointer;
  }
  
  #nav > li:hover ul, #nav > li > ul:hover
  {
    left: auto;
  }
  
  #nav > li > ul
  {
    position: absolute;
    background: #00314c;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 0.95;
    margin: 0;
    padding: 0 0.4em 00.3em 0.4em;
  }
  
  #nav > li > a
  {
    display: block;
    font-size: 1.4vw;
    margin: 0;
    color: white;
    padding: 0.2em 0.4em;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
  }
  
  #nav > li > a:active
  {
    color: black;
    background: white;
  }
  
  #nav > li > ul > li
  {
    margin: 0;
    padding: 0.2em 0.4em 0.2em 0.3em;
    color: white;
    list-style: none;
    font-weight: normal;
    text-transform: capitalize;
  }
  
  #nav > li > ul > li > a:hover
  {
    /*background: #00314c;*/
  }
  
  #nav > li > ul > li > a
  {
    margin: 0 0 0 0.7em;
    padding: 0;
    display: block;
    color: white;
    text-align: left;
    text-decoration:none;
    font-weight: bold;
    text-transform: capitalize;
  }

  #nav_c{
    position: fixed;
    top: 25.2%;
    left: 0;
    margin: 0;
    padding: 0.35% 0 0.35% 15%;
  }

  #nav_c > li{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #nav_c > li > a{
    margin: 0;
    padding: 0.3em 0.5em;
    background: #00314c;
    color: white;
    font-size: 1.1vw;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
  }
  
  #nav_c > li > a:hover{
    text-decoration: underline;
  }

  #nav_c > li > a.active{
    background: white;
    color: #00314c;
    text-decoration: underline;
  }

  #nav_c > li > a.active:hover{
    text-decoration: none;
  }

  #nav_xtra{
    position: fixed;
    right: 6.6%;
    top: 20.5%;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 8%;
    border: 1px dashed orangered;
  }

  #nav_xtra > li{
    width: auto;
  }

  #nav_xtra > li > ul
  {
    position: relative;
    background: transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 0.95;
    margin: 0;
    padding: 0.2em 0.4em 00.3em 0.4em;
    width: auto;
    list-style: none;
    border: 1px dashed purple;
  }

  #nav_xtra > li > ul > li{
    margin: 0.2em 0 0 0;
    width: auto;
    cursor: pointer;
  }

  #nav_xtra > li > img{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  #head
  {
    margin: 0;
    padding: 0 0 0 16%;
    width: 100%;
    border-bottom: 2px solid #00314c;
    position: fixed;
    top: 20%; 
    left: 0;
    height: 5%;
  }
  
  #cont
  {
    margin: 0;
    padding: 0 0 0 15%;
    width: 85%;
    height: 74.5%;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 25.2%;
  }
  
  #head_m, #head_s, #head_o
  {
    color: #00314c;
    display: inline;
    text-transform: capitalize;
    font-weight: normal;
    margin: 0;
    padding: 0; 
  }

  #head_m{
    font-size: 1.9vw;
  }

  #head_s{
    font-size: 1.3vw;
  }

  #head_o
  {
    text-transform: none;
    margin-left: 1%;
    font-size: 1vw;
    color: red;
  }

  .active
  {
    color: #00314c;
    background: white;
  }

  #search{
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    top: 20.5%;
    right: 15%;
    border: 1px dashed #00314c;
    border-radius: 5px;
  }

  #search > input{
    width: 90%;
    margin: 0;
    padding: 0.2em 0 0.2em 1%;
    background: transparent;
    display: inline-block;
    border: 0;
    font-size: 1vw;
    font-family: 'Roboto Condensed', sans-serif;
  }

  #search > button{
    background: url('../img/ico/search.png') no-repeat center center;
    background-size: contain;
    height: 100%;
    border: 0;
    border-left: 1px dashed #00314c;
    color: transparent;
    width: 8%;
    font-size: 1vw;
    display: inline-block;
    cursor: pointer;
  }

}