#calendar{
  position: fixed;
  top: 30%;
  left: 0;
}

#calendar > div > h2{
  margin: 0.4% 0 0 0;
  padding: 0 0 0 15%;
}

#cal, #call{
  margin: 0;
  padding: 0 0 0 15%;
  width: 70%;
}

#cal > li, #call > li{
  width: 14%;
  float: left;
  border-left: 1px dashed #00314c;
  border-top: 1px dashed #00314c;
  list-style: none;
}

#cal > li:last-of-type{
  border-right: 1px dashed #00314c;
}

#cal > li:nth-of-type(1), #cal > li:nth-of-type(2), #cal > li:nth-of-type(3), #cal > li:nth-of-type(4), #cal > li:nth-of-type(5), #cal > li:nth-of-type(6), #cal > li:nth-of-type(7)
{
  text-align: center;
  text-transform: capitalize;
}

#cal > li > div{
  margin: 0;
  padding: 0.2em;
}

#cal > li > div > p{
  display: block;
  margin: 0;
  padding: 0;
}

#cal > li > div > p:first-of-type, #cal > li > div > p:last-of-type{
  cursor: pointer;
}

#cal > li > div > p:last-of-type{
  text-align: right;
}

#call > li{
  width: 12%;
}

#call > li > p{
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: capitalize;
}

#call > li > p > a{
  margin: 0;
  padding: 0;
  text-transform: none;
  cursor: pointer;
}

#call > li > a{
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  text-align: center;
}

#call > li > a:last-of-type{
  cursor: pointer;
  text-align: right; 
}

.rw{
  background: url('../img/ico/rw.png') no-repeat;
  background-size: 5%;
  background-position: bottom right;
}

#loader{
  position: absolute;
  top: 0;
  left: 15%;
  width: 75%;
  margin: 0;
  height: 100%;
  background: url('../img/ico/loading.gif');
  background-size: auto;
}

#month_p, #month_n, #week_p, #week_n{
  position: fixed;
  top: 50%;
  height: 10%;
  width: 5%;
  cursor: pointer;
}

#month_p, #week_p{
  left: 0;
  background: url('../img/ico/back.png') no-repeat;
  background-size: contain;
}

#month_n, #week_n{
  right: 0;
  background: url('../img/ico/forward.png') no-repeat;
  background-size: contain;
}